.slick-list {
    overflow: visible !important;
}

.slick-slide>div {
    margin: 0 10px;
}

.slick-prev.slick-arrow:before,
.slick-next.slick-arrow:before {
    display: none !important;
}

.custom-arrow {
    transition: box-shadow 0.3s ease;
}

.custom-arrow:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}