body,
html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.home-container {
    min-height: 100vh;
    background-color: #D4C7AF;
    display: flex;
    flex-direction: column;
}

.home-logo {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 40px;
}

.home-paragraph {
    font-size: 1.25rem;
    color: #FAFAFA;
}


@media (max-width: 576px) {
    .home-paragraph {
        font-size: 0.95rem;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .home-paragraph {
        font-size: 1.25rem;
    }
}

@media (min-width: 769px) {
    .home-paragraph {
        font-size: 1.25rem;
    }
}

.view-all-btn {
    max-width: 450px !important;
    max-height: 150px !important;
    background-color: #C7A771 !important;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    font-weight: 500;
    border-style: hidden;
    color: #FAFAFA;
}

.view-all-btn:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

@media (max-width: 576px) {
    .view-all-btn {
        font-size: 1.5rem;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .view-all-btn {
        font-size: 1.75rem;
    }
    
}

@media (min-width: 769px) {
    .view-all-btn {
        font-size: 2rem;
    }
}